<div class="buttons">
    <button
        *ngIf="signedInUserType == 'manager'"
        class="btn btn-primary my-3 mx-3"
        type="button"
        data-bs-toggle="modal"
        data-bs-target="#addBookModal"
    >
        Add Book
    </button>
    <button class="btn btn-primary my-3 mx-3" type="button" data-bs-toggle="modal" data-bs-target="#findBookModal">Find Book</button>
</div>

<div *ngFor="let book of books" class="py-2 px-3 border-top">
    <div class="row">
        <div class="col-10 h6">{{ book.title }}</div>
        <div class="col-10">ISBN: {{ book.isbn }}</div>
        <div class="col-10">Category: {{ book.category }}</div>
        <div class="col-10">Publication year: {{ book.publication_year }}</div>
        <div class="col-10">Price: {{ book.price }}$</div>
        <div class="col-10">Available: {{ book.quantity }}</div>
        <div class="col-10">Publisher: {{ book.publisher.name }}</div>
        <div *ngIf="signedInUserType == 'manager'" class="col-10">Threshold: {{ book.threshold }}</div>
        <i
            *ngIf="signedInUserType == 'manager'"
            class="col-11 bi bi-x-lg icon text-danger"
            (click)="openDeleteBookModal(book.isbn)"
        ></i>
        <i
            *ngIf="signedInUserType == 'manager'"
            class="col-12 bi bi-pencil icon text-primary"
            (click)="openEditBookModal(book)"
        ></i>
        <i
            *ngIf="signedInUserType == 'manager'"
            class="col-13 bi bi-bag icon text-success"
            (click)="openOrderBookModal(book.isbn, book.title)"
        ></i>
    </div>
</div>

<button
    id="openEditBookBtn"
    type="button"
    class="btn btn-primary d-none"
    data-bs-toggle="modal"
    data-bs-target="#editBookModal"
></button>
<div class="modal" id="editBookModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Book</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                <input #editBookTitleInput id="editBookTitleInput" type="text" class="form-control mb-3" placeholder="Book Title"/>
                <select #editBookPublisherInput id="editBookPublisherInput" class="form-select my-3" aria-label="Publisher">
                    <option *ngFor="let publisher of publishers" value="{{ publisher.publisher_id }}">
                        {{ publisher.name }}
                    </option>
                </select>
                <input #editBookPubYearInput id="editBookPubYearInput" type="number" class="form-control mb-3" placeholder="Book Publication Year"/>
                <input #editBookPriceInput id="editBookPriceInput" type="number" class="form-control mb-3" placeholder="Book Price"/>
                <select #editBookCategoryInput class="form-select my-3" aria-label="Category">
                    <option value="Science">Science</option>
                    <option value="Art">Art</option>
                    <option value="Religion">Religion</option>
                    <option value="History">History</option>
                    <option value="Geography">Geography</option>
                </select>
                <input #editBookQuantityInput id="editBookQuantityInput" type="number" class="form-control mb-3" placeholder="Book quantity"/>
                <input #editBookThresholdInput id="editBookThresholdInput" type="number" class="form-control mb-3" placeholder="Book threshold"/>
                <div *ngIf="editBookLoading" class="spinner-border text-primary mt-3" role="status"></div>
            </div>

            <div class="modal-footer">
                <button id="closeEditBookBtn" type="button" class="btn btn-danger" data-bs-dismiss="modal">
                    Close
                </button>
                <button
                    type="submit"
                    class="btn btn-primary"
                    (click)="onEditBook(editBookTitleInput.value, editBookPublisherInput.value, editBookPubYearInput.value,
                    editBookPriceInput.value, editBookCategoryInput.value, editBookQuantityInput.value, editBookThresholdInput.value)"
                >
                    Edit
                </button>
            </div>
        </div>
    </div>
</div>

<button
    id="openOrderBookBtn"
    type="button"
    class="btn btn-primary d-none"
    data-bs-toggle="modal"
    data-bs-target="#orderBookModal"
></button>
<div class="modal" id="orderBookModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Order Book</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                <input
                    #OrderBookInput
                    id="orderBookInput"
                    type="text"
                    class="form-control mb-3"
                    placeholder="Quantity"
                />
                <div *ngIf="orderBookLoading" class="spinner-border text-primary mt-3" role="status"></div>
            </div>

            <div class="modal-footer">
                <button id="closeOrderBookBtn" type="button" class="btn btn-danger" data-bs-dismiss="modal">
                    Close
                </button>
                <button
                    type="submit"
                    class="btn btn-success"
                    (click)="onOrderBook(OrderBookInput.value)"
                >
                    Submit Order
                </button>
            </div>
        </div>
    </div>
</div>

<button
    id="openDeleteBookBtn"
    type="button"
    class="btn btn-primary d-none"
    data-bs-toggle="modal"
    data-bs-target="#deleteBookModal"
></button>
<div class="modal" id="deleteBookModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete Book</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                <div>Are you sure you want to delete that book?</div>
                <div *ngIf="deleteBookLoading" class="spinner-border text-primary mt-3" role="status"></div>
            </div>

            <div class="modal-footer">
                <button type="submit" class="btn btn-danger" (click)="onDeleteBook()">Delete</button>
                <button id="closeDeleteBookBtn" type="button" class="btn btn-primary" data-bs-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="addBookModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Book</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                <input #addBookTitleInput type="text" class="form-control mb-3" placeholder="Book Title"/>
                <input #addBookISBNInput type="number" class="form-control mb-3" placeholder="Book ISBN"/>
                <select #addBookPublisherInput class="form-select my-3" aria-label="Publisher">
                    <option value="-1" disabled selected>Select Publisher</option>
                    <option *ngFor="let publisher of publishers" value="{{ publisher.publisher_id }}">
                        {{ publisher.name }}
                    </option>
                </select>
                <input #addBookPubYearInput type="number" class="form-control mb-3" placeholder="Book Publication Year"/>
                <input #addBookPriceInput type="number" class="form-control mb-3" placeholder="Book Price"/>
                <select #addBookCategoryInput class="form-select my-3" aria-label="Category">
                    <option value="Science">Science</option>
                    <option value="Art">Art</option>
                    <option value="Religion">Religion</option>
                    <option value="History">History</option>
                    <option value="Geography">Geography</option>
                </select>
                <input #addBookQuantityInput type="number" class="form-control mb-3" placeholder="Book quantity"/>
                <input #addBookThresholdInput type="number" class="form-control mb-3" placeholder="Book threshold"/>
                <div *ngIf="addBookLoading" class="spinner-border text-primary mt-3" role="status"></div>
            </div>

            <div class="modal-footer">
                <button id="closeAddBookBtn" type="button" class="btn btn-danger" data-bs-dismiss="modal">
                    Close
                </button>
                <button
                    type="submit"
                    class="btn btn-primary"
                    (click)="onAddBook(addBookTitleInput.value, addBookISBNInput.value, addBookPublisherInput.value, addBookPubYearInput.value,
                        addBookPriceInput.value, addBookCategoryInput.value, addBookQuantityInput.value, addBookThresholdInput.value)"
                >
                    Add
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="findBookModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Find Book</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <input *ngIf="findBookCriteriaInputValue != 'authors'" #findBookSearchInput (change)="setSearchInput(findBookSearchInput.value)" type="text" class="form-control mb-3" placeholder="Search Keyword"/>
                <select (click)="changeCriteria(findBookCriteriaInput.value)" #findBookCriteriaInput class="form-select my-3" aria-label="Publisher">
                    <option value="Select Criteria" disabled selected>Select Criteria</option>
                    <option value="isbn">ISBN</option>
                    <option value="title">Title</option>
                    <option value="category">Category</option>
                    <option value="authors">Author</option>
                    <option value="publishers">Publisher</option>
                </select>
                <input *ngIf="findBookCriteriaInputValue == 'authors'" #findBookFirstNameInput (change)="setFirstName(findBookFirstNameInput.value)" type="text" class="form-control mb-3" placeholder="First Name"/>
                <input *ngIf="findBookCriteriaInputValue == 'authors'" #findBookLastNameInput (change)="setLastName(findBookLastNameInput.value)" type="text" class="form-control mb-3" placeholder="Last Name"/>
            </div>

            <div class="modal-footer">
                <button id="closeFindBookBtn" type="button" class="btn btn-danger" data-bs-dismiss="modal">
                    Close
                </button>
                <button type="submit" class="btn btn-primary" (click)="onFindBook()">
                    Find
                </button>
            </div>
        </div>
    </div>
</div>
