<div class="card mb-3">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <div class="d-flex flex-row align-items-center">
        <div>
          <img
            src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-shopping-carts/img1.webp"
            class="img-fluid rounded-3"
            alt="Shopping item"
            style="width: 65px"
          />
        </div>
        <div class="ms-3">
          <h5>{{ cartItem.name }}</h5>
          <p class="small mb-0">{{ cartItem.publisher }}</p>
        </div>
      </div>
      <div class="d-flex flex-row align-items-center">
        <div style="width: 50px">
          <h5 class="fw-normal mb-0">{{ cartItem.count }}</h5>
        </div>
        <div style="width: 80px">
          <h5 class="mb-0">${{ cartItem.price }}</h5>
        </div>
        <!-- remove cart item -->
        <a style="color: #cecece" (click)="deleteCartItem()">
          <fa-icon [icon]="faTrashAlt"></fa-icon>
        </a>
      </div>
    </div>
  </div>
</div>
